# Genome reference (GRCh38)
genome_url: http://ftp.ensembl.org/pub/release-113/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz

# Model checkpoints to evaluate
# Each model has a base name, base path, context size, and list of checkpoint steps
models:
  - name: animal_promoters_yolo_repeat_downweight
    base_path: /home/ubuntu/efs/projects/biofoundation/data/marin_checkpoints/animal-promoters-yolo-r01-213a8e
    context_size: 512
    steps:
      - 2000
      - 6000
      - 10000
      - 12000
      - 14000
      - 16000
      - 18000
      - 20000
      - 22000

  - name: animal_promoters_yolo
    base_path: /home/ubuntu/efs/projects/biofoundation/data/marin_checkpoints/animal-promoters-yolo-standard-r01-a615b7
    context_size: 512
    steps:
      - 2000
      - 6000
      - 10000
      - 12000
      - 14000
      - 16000
      - 18000
      - 20000

  - name: animal_mrna_plus_promoters
    base_path: /home/ubuntu/efs/projects/biofoundation/data/marin_checkpoints/animal-mRNA-plus-promoters-yolo-r01-a3e7b3
    context_size: 512
    steps:
      - 2000
      - 10000
      - 12000

# Evaluation datasets from HuggingFace
# Each dataset should have been created by the snakemake/evals pipeline
datasets:
  - name: traitgym_mendelian
    hf_path: gonzalobenegas/bolinas_evals-traitgym_mendelian
    split: train
    metrics:
      - AUPRC

  - name: traitgym_complex
    hf_path: gonzalobenegas/bolinas_evals-traitgym_complex
    split: train
    metrics:
      - AUPRC

# Score types to evaluate and plot
score_types:
  - minus_llr
  - abs_llr
  - embed_last_l2
  - embed_middle_l2

# Inference configuration (performance settings that don't affect output)
inference:
  batch_size: 128
  num_workers: 4
  data_transform_on_the_fly: true
  torch_compile: false
